# Eclipse
.project
.settings/
.classpath

## Annotation processing
.apt_generated/
.apt_generated_tests/
.factorypath

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# Mac OS X
.DS_Store

# Output folders
target/
test-output/

# Integration tests
/SIT/
/pre-it-logs/
/pre-it-logs.zip
/server-logs/
/integration-test-results/
/integration-test-results.zip
/health.json

# Don't import pom backups
**/pom.xml.versionsBackup

# Maven config
.mvn/
