.code, pre {
	border: 1px dashed #6699CC;
	background-color: #F4F4F4;
	padding: 5px;
}

body {
	font-size: 10pt;
	font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
	background-color: #fff;
	color: #333;
}

/* Link colors */
a {
	color: #569D2F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Headings */
h1 {
	background: url(tapestry.png) no-repeat;
	font-size: 28px;
	color: #007c00;
	padding: 2.0em;
}

h1, h2, h3 {
	color: #569D2F;
}

wbr:after {
	content: "\00200B"; /* IE fix */
}

/* Table colors */
table {
	background: #fff;
	border-collapse: collapse;
}

td {
	border: 1px dotted #ccc;
	background: #F4F4F4;
}

th {
	border: none;
	background-color: #569D2F;
	color: white;
	text-align: left;
}

.TableHeadingColor th {
	background-color: #569D2F;
	background-repeat: repeat-x;
	color: #fff;
	font-size: 14px;
	height: 26px;
}

.TableHeadingColor th font[size="+2"] {
	font-size: 10pt;
}

table.parameters tbody th {
	background: #F4F4F4;
	color: #333;
	border: 1px dotted #ccc;
	font-weight: normal;
}

table.parameters thead tr.columnHeaders th {
	background: #e6e6e6;
	color: #6e6e6e;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
}

body>dt>b {
	display: block;
	padding: 0.3em 0 0 0.3em;
	margin-top: 1em;
	background: #569D2F;
	color: #fff;
	border: 1px solid black;
	font-size: 14px;
	height: 26px;
}

.TableSubHeadingColor {
	background: #f7ffee;
}

.TableSubHeadingColor a {
	color: white;
	text-decoration: underline;
}

.TableSubHeadingColor a:hover {
	color: white;
	text-decoration: underline;
}

.TableRowColor {
	background: #fff;
}

.TableRowColor a {
	border-bottom: none;
	color: #569D2F;
	font-weight: normal;
}

tr.TableRowColor:hover {
	background: #eef2e1;
}

/* Font used in left-hand frame lists */
.FrameTitleFont {
	font-size: 120%;
	font-weight: bold;
}

.FrameTitleFont a {
	color: #333;
}

.FrameHeadingFont {
	font-weight: bold;
	font-size: 95%;
}

.FrameItemFont {
	line-height: 130%;
	font-size: 95%;
}

.FrameItemFont a {
	color: #333;
}

.FrameItemFont a:hover {
	color: #249901;
	border-bottom: none;
	text-decoration: underline;
}

/* Navigation bar fonts and colors */
.NavBarCell1 {
	background-color: #fff;
	border: none;
}

.NavBarCell1Rev {
	background-color: #e3faa5;
	border: 1px solid #9ad00c;
	padding: 0;
	margin: 0;
}

.NavBarCell1 a {
	color: #333;
	text-decoration: none;
}

.NavBarFont1Rev {
	
}

.NavBarCell2 {
	border: none;
}

.NavBarCell2 a {
	color: #569D2F;
	font-size: 90%;
}

.NavBarCell3 {
	border: none;
}