/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

   h1, .heading-one {
      font-size: 2rem;
      font-weight: 300;
      max-width: 18em;
      margin-bottom: 1.75rem;
    }
    h2, .heading-two {
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: 0;
      max-width: 30em;
      + table {
        margin-top: 1rem;
      }
    }
    h3, .heading-three {
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 600;
      max-width: 30em;
    }
    h4, .heading-four {
      font-size: 0.875rem;
      line-height: 1.25;
      font-weight: 600;
      max-width: 40em;
      font-family: inherit;
    }
    h5, .heading-five {
      font-size: 0.75rem;
      line-height: 1.25;
      font-weight: 600;
      font-family: inherit;
    }

    p {
      &.secondary {
        color: $text-02;
        color: #646e76; // temporary adjustment to pass accessibility
        font-size: 0.75rem;
      }
      &.large {
        font-size: 1rem;
      }
    }



    h1,h2,h3,h4,h5.h6 {
      a {
        color: inherit;
        text-decoration: none;
        &:visited {
          color: inherit;
          text-decoration: none;
        }
        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }
    }



.pill { // default is blue
  display: flex;
  padding: 0 .5rem;
  align-items: center;
  border-radius: 10rem;
  height: 1.25rem;
  font-size: .75rem;
  color: #325c80;
  background-color: #c0e6ff;
  font-size: 0.75rem;
  p {
    font-size: 0.75rem;
    color: #325c80;
  }
  &.grey {
    color: #68737c;
    background-color: #f3f3f3;
    p {
      color: #68737c;
    }
  }
}