<server description="fhir-server">

    <!-- Enable features -->
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>jaxrs-2.0</feature>
        <feature>jpa-2.1</feature>
        <feature>openidConnectServer-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>ssl-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>jsonp-1.0</feature>
        <feature>beanValidation-1.1</feature>
        <feature>jsf-2.2</feature>
        <feature>servlet-3.1</feature>
        <feature>websocket-1.1</feature>
    </featureManager>

    <!-- FHIR Server's keystore and truststore configuration -->
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" clientAuthenticationSupported="true" />
CODE_REMOVED
CODE_REMOVED
    <webAppSecurity allowFailOverToBasicAuth="true" />
    
    <!-- Define a basic user registry with a few users. -->
    <basicRegistry id="basic" realm="BasicRealm"> 
CODE_REMOVED
CODE_REMOVED
        <group name="FHIRUsers">
            <member name="fhiruser"/>
        </group>
        <group name="clientAdministrator">
        	<member name="fhiruser"/>
        </group>
    </basicRegistry>
    
    <openidConnectProvider id="oidc-provider" oauthProviderRef="oauth2-provider"/> 
    
    <oauth-roles>
        <authenticated>
            <special-subject type="ALL_AUTHENTICATED_USERS"/>  
        </authenticated>
        <clientManager>
			<group name="clientAdministrator" />
			<user name="fhiruser" />
		</clientManager>
    </oauth-roles>
	
	<oauthProvider id="oauth2-provider" oauthOnly="false">
		<grantType>authorization_code</grantType>
		<databaseStore dataSourceRef="OAuthDerbyDataSource" />
	</oauthProvider>
    
    <!-- This entry defines the ports that the server will listen on.
        Modify the port #'s as needed to satisfy your config requirements.
        Note: on Linux, the server must be running with root priviledges in order to
        listen on ports <= 1024.
     -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" onError="FAIL"/>

    <!-- 
        Modify the trace string below as needed to enable/disable tracing. 
        <logging traceSpecification="*=info" traceFormat="BASIC"/>
        <logging traceSpecification="*=info:com.ibm.watsonhealth.fhir.*=finer" traceFormat="BASIC"/>
    -->
    
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <applicationMonitor updateTrigger="mbean"/>   

    <webContainer deferServletLoad="false"/>   

    <!-- This is the main FHIR Server REST API war -->
    <webApplication contextRoot="fhir-server/api/v1" id="fhir-server" location="fhir-server.war" name="fhir-server">
        <classloader apiTypeVisibility="spec,third-party" commonLibraryRef="moxyLib" privateLibraryRef="configResources"/>
        <application-bnd>
            <security-role name="FHIRUsers">
                <group name="FHIRUsers"/>
            </security-role>
        </application-bnd>
    </webApplication>

    <!-- This is the swagger UI for the FHIR Server -->
    <webApplication id="fhir-swagger-ui" location="fhir-swagger-ui.war" name="fhir-swagger-ui"/>
    
    <library apiTypeVisibility="spec,third-party" id="moxyLib">
        <fileset dir="${shared.resource.dir}/lib/moxy" includes="*.jar"/>
    </library>
    
    <!-- 
        This library element puts a specific directory in the classpath so that it can be used
        for user-provided configuration files (e.g. extension-search-parameters.xml)
    -->
    <library id="configResources">
        <folder dir="${server.config.dir}/config"/>
        <fileset dir="${server.config.dir}/config" includes="*.jar"/>
    </library>
   
    <jpa defaultPersistenceProvider="org.eclipse.persistence.jpa.PersistenceProvider"/>

    <!-- Derby/Embedded-related configuration
    -->    
    <library id="derbyLib">
        <fileset dir="${shared.resource.dir}/lib/derby" includes="*.jar"/>
    </library>
    
    <dataSource id="OAuthDerbyDataSource" jndiName="jdbc/oAuthDB">
        <jdbcDriver libraryRef="derbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="derby/oAuthDB"/>
    </dataSource>

    <dataSource id="derbyEmbedded" jndiName="jdbc/fhirDB">
        <jdbcDriver libraryRef="derbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="derby/fhirDB"/>
    </dataSource>
    <dataSource id="derbyEmbeddedNonJTA" jndiName="jdbc/fhirDBNonJTA" transactional="false">
        <jdbcDriver libraryRef="derbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="derby/fhirDB"/>
    </dataSource>
    
    <!-- Derby/Network Server-related configuration
    <library id="derbyLib">
        <fileset dir="${shared.resource.dir}/lib/derby" includes="*.jar"/>
    </library>

    <dataSource id="derbyDB" jndiName="jdbc/fhirDB">
        <jdbcDriver libraryRef="derbyLib"/>
CODE_REMOVED
    </dataSource>
    <dataSource id="derbyDBNonJTA" jndiName="jdbc/fhirDBNonJTA" transactional="false">
        <jdbcDriver libraryRef="derbyLib"/>
CODE_REMOVED
    </dataSource>
    -->    
     
    <!-- DB2-related configuration
    <library id="db2Lib">
        <fileset dir="${shared.resource.dir}/lib/db2" includes="*.jar"/>
    </library>
    
    <dataSource id="db2DB" jndiName="jdbc/fhirDB">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    <dataSource id="db2DBNonJTA" jndiName="jdbc/fhirDBNonJTA" transactional="false">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    -->
    
    <!-- Datasources from FHIR Persistence Router -->
    <!-- 
    <dataSource id="profileDataSourceJta" jndiName="jdbc/profileDataSourceJta">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    <dataSource id="profileDataSourceNonJta" jndiName="jdbc/profileDataSourceNonJta" transactional="false">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
     <dataSource id="referenceDataSourceJta" jndiName="jdbc/referenceDataSourceJta">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    <dataSource id="referenceDataSourceNonJta" jndiName="jdbc/referenceDataSourceNonJta" transactional="false">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
     <dataSource id="dataSource_Jta_Smoke_Test" jndiName="jdbc/dataSource_Jta_Smoke_Test">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    <dataSource id="dataSource_nonJta_Smoke_Test" jndiName="jdbc/dataSource_nonJta_Smoke_Test" transactional="false">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
CODE_REMOVED
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
CODE_REMOVED
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    -->
    
</server>
