<server description="fhir-server">

    <!-- Enable features -->
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>jaxrs-2.0</feature>
        <feature>jpa-2.1</feature>
        <feature>appSecurity-2.0</feature>
        <feature>ssl-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>jsonp-1.0</feature>
        <feature>beanValidation-1.1</feature>
        <feature>jsf-2.2</feature>
        <feature>servlet-3.1</feature>
        <feature>websocket-1.1</feature>
    </featureManager>

    <!-- This template enables security. To get the full use of all the capabilities, a keystore and user registry are required. -->
    
    <!-- FHIR Server's keystore (used with https endpoints) -->
CODE_REMOVED
    
    <!-- Define a basic user registry with a few users. -->
    <basicRegistry id="basic" realm="BasicRealm"> 
CODE_REMOVED
CODE_REMOVED
        <group name="FHIRUsers">
            <member name="fhiruser"/>
        </group>
    </basicRegistry>
    
    <!-- This entry defines the ports that the server will listen on.
        Modify the port #'s as needed to satisfy your config requirements.
        Note: on Linux, the server must be running with root priviledges in order to
        listen on ports <= 1024.
     -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" onError="FAIL"/>

    <!-- 
        Modify the trace string below as needed to enable/disable tracing. 
        <logging traceSpecification="*=info" traceFormat="BASIC"/>
        <logging traceSpecification="*=info:com.ibm.watsonhealth.fhir.*=finer" traceFormat="BASIC"/>
        <logging traceFormat="BASIC" traceSpecification="*=info:com.ibm.watsonhealth.fhir.*=finer"/>
    -->
    
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <applicationMonitor updateTrigger="mbean"/>   

    <webContainer deferServletLoad="false"/>   

    <!-- This is the main FHIR Server REST API war -->
    <webApplication contextRoot="fhir-server/api/v1" id="fhir-server" location="fhir-server.war" name="fhir-server">
        <classloader apiTypeVisibility="spec,third-party" commonLibraryRef="moxyLib" privateLibraryRef="configResources"/>
        <application-bnd>
            <security-role name="FHIRUsers">
                <group name="FHIRUsers"/>
            </security-role>
        </application-bnd>
    </webApplication>

    <!-- This is the swagger UI for the FHIR Server -->
    <webApplication id="fhir-swagger-ui" location="fhir-swagger-ui.war" name="fhir-swagger-ui"/>
    
    <library apiTypeVisibility="spec,third-party" id="moxyLib">
        <fileset dir="${shared.resource.dir}/lib/moxy" includes="*.jar"/>
    </library>
    
    <!-- 
        This library element puts a specific directory in the classpath so that it can be used
        for user-provided configuration files (e.g. extension-search-parameters.xml)
    -->
    <library id="configResources">
        <folder dir="${server.config.dir}/config"/>
        <fileset dir="${server.config.dir}/config" includes="*.jar"/>
    </library>
   
    <!-- This JNDI entry specifies the name of the FHIRPersistenceFactory class to be used by the server -->
    <!-- 
    <jndiEntry value="com.ibm.watsonhealth.fhir.persistence.memory.FHIRPersistenceMemoryFactory" jndiName="com.ibm.watsonhealth.fhir.persistence.factory" id="fhirPersistenceFactory"/>
    <jndiEntry value="com.ibm.watsonhealth.fhir.persistence.jpa.FHIRPersistenceJPAFactory" jndiName="com.ibm.watsonhealth.fhir.persistence.factory" id="fhirPersistenceFactory"/>
    <jndiEntry value="com.ibm.watsonhealth.fhir.persistence.cloudant.FHIRPersistenceCloudantFactory" jndiName="com.ibm.watsonhealth.fhir.persistence.factory" id="fhirPersistenceFactory"/>
    -->
    <jndiEntry id="fhirPersistenceFactory" jndiName="com.ibm.watsonhealth.fhir.persistence.factory" value="com.ibm.watsonhealth.fhir.persistence.jpa.FHIRPersistenceJPAFactory"/>

    <jpa defaultPersistenceProvider="org.eclipse.persistence.jpa.PersistenceProvider"/>

    <!-- Derby/Embedded-related configuration
    -->    
    <library id="derbyLib">
        <fileset dir="${shared.resource.dir}/lib/derby" includes="*.jar"/>
    </library>

    <dataSource id="derbyEmbedded" jndiName="jdbc/fhirDB">
        <jdbcDriver libraryRef="derbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="derby/fhirDB"/>
    </dataSource>
    <dataSource id="derbyEmbeddedNonJTA" jndiName="jdbc/fhirDBNonJTA" transactional="false">
        <jdbcDriver libraryRef="derbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="derby/fhirDB"/>
    </dataSource>
    
    <!-- Derby/Network Server-related configuration
    <library id="derbyLib">
        <fileset dir="${shared.resource.dir}/lib/derby" includes="*.jar"/>
    </library>

    <dataSource id="derbyDB" jndiName="jdbc/fhirDB">
        <jdbcDriver libraryRef="derbyLib"/>
CODE_REMOVED
    </dataSource>
    <dataSource id="derbyDBNonJTA" jndiName="jdbc/fhirDBNonJTA" transactional="false">
        <jdbcDriver libraryRef="derbyLib"/>
CODE_REMOVED
    </dataSource>
    -->    
     
    <!-- DB2-related configuration
    <jndiEntry value="FHIRNext" jndiName="com.ibm.watsonhealth.fhir.Schema"/>
    <library id="db2Lib">
        <fileset dir="${shared.resource.dir}/lib/db2" includes="*.jar"/>
    </library>
    
    <dataSource id="db2DB" jndiName="jdbc/fhirDB">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    <dataSource id="db2DBNonJTA" jndiName="jdbc/fhirDBNonJTA" transactional="false">
        <jdbcDriver libraryRef="db2Lib"/>
CODE_REMOVED
    </dataSource>
    -->
    
    <!-- Cloudant-related configuration
    This JNDI entry specifies the Cloudant DB account credentials, which are encoded using
    the {WLP_ROOT}/wlp/bin/securityUtility . 
    This entry is used only when the fhirPersistenceFactory entry points to the FHIRPersistenceCloudantFactory. 
    -->
    <!--  
        <jndiEntry jndiName="com.ibm.watsonhealth.fhir.persistence.cloudant.account" id="com.ibm.watsonhealth.fhir.persistence.cloudant.account" decode="true" 
CODE_REMOVED
    -->


    
    <!-- These JNDI entries pertain to the FHIR Notification service -->
    <jndiEntry id="enableWebSocketNotifications" jndiName="com.ibm.watsonhealth.fhir.notification.websocket.enabled" value="true"/>

    <!-- 
    <jndiEntry id="enableKafkaNotifications" jndiName="com.ibm.watsonhealth.fhir.notification.kafka.enabled" value="true"/>
    <jndiEntry id="kafkaProperties" jndiName="com.ibm.watsonhealth.fhir.notification.kafka.properties" value="${server.config.dir}/config/kafka.properties"/>
    -->
    
    <jndiEntry id="allowableVirtualResourceTypes" jndiName="com.ibm.watsonhealth.fhir.allowable.virtual.resource.types" value="WeatherDetail"/>
    <jndiEntry id="virtualResourceTypesFeatureEnabled" jndiName="com.ibm.watsonhealth.fhir.virtual.resource.types.feature.enabled" value="true"/>
    
    <jndiEntry id="userDefinedSchematronEnabled" jndiName="com.ibm.watsonhealth.fhir.validation.user.defined.schematron.enabled" value="true"/>
    
    <!-- FHIR Persistence Router related config -->
    <!--
        To use the FHIR persistence router, you need to perform the following steps:
        1. Configure the config/router-persistence-rules.json
        2. Set the JNDI entry for the default persistence factory (jndiName="com.ibm.watsonhealth.fhir.persistence.factory"), to use the FHIRPersistenceRouterFactory class.
        3. Create JNDI entries matching the "factoryJndiName" entries specified on config/router-persistence-rules.json.
        You can find below an example on how to create this configuration.
    -->
    <!--
	    <jndiEntry jndiName="com.ibm.watsonhealth.fhir.persistence.factory" id="fhirPersistenceFactory" value="com.ibm.watsonhealth.fhir.persistence.whclsf.router.FHIRPersistenceRouterFactory"/>
	    <jndiEntry jndiName="com.ibm.watsonhealth.fhir.persistence.factory.clinical" id="clinicalFhirPersistenceFactory" value="com.ibm.watsonhealth.fhir.persistence.cloudant.FHIRPersistenceCloudantFactory"/>
CODE_REMOVED
CODE_REMOVED
CODE_REMOVED
CODE_REMOVED
	    <jndiEntry jndiName="com.ibm.watsonhealth.fhir.persistence.factory.profile" id="profileFhirPersistenceFactory" value="com.ibm.watsonhealth.fhir.persistence.cloudant.FHIRPersistenceCloudantFactory" />
CODE_REMOVED
CODE_REMOVED
CODE_REMOVED
CODE_REMOVED
    -->
    <!-- 
    	Enable/disable fhir-persistence-whc-lsf interceptors. The keys to enable/disable interceptors should follow the standard: 
    	<jndiEntry id="isClassNameEnabled" jndiName="fully.qualified.class.name.enabled" value="true"/>
    -->
    <!-- 
	    <jndiEntry id="isGroupPersistenceInterceptorEnabled" jndiName="com.ibm.watsonhealth.fhir.persistence.whclsf.group.GroupPersistenceInterceptor.enabled" value="false"/>
	    <jndiEntry id="isConsentManagementPersistenceInterceptorEnabled" jndiName="com.ibm.watsonhealth.fhir.persistence.whclsf.consent.management.ConsentManagementPersistenceInterceptor.enabled" value="false"/>
	    <jndiEntry id="isConsentEnforcementPersistenceInterceptorEnabled" jndiName="com.ibm.watsonhealth.fhir.persistence.whclsf.consent.enforcement.ConsentEnforcementPersistenceInterceptor.enabled" value="false"/>
    -->
    <!-- 
     	IBM Consent Manager related config
    -->
    <!-- 
CODE_REMOVED
CODE_REMOVED
CODE_REMOVED
	-->
    <!-- 
        Encryption properties
        <jndiEntry id="encryptionEnabled" jndiName="com.ibm.watsonhealth.fhir.encryption.enabled" value="true"/>
        <jndiEntry id="encryptionKeystoreLocation" jndiName="com.ibm.watsonhealth.fhir.encryption.keystore.location" value="resources/security/fhirkeys.jceks"/>
CODE_REMOVED
CODE_REMOVED
    -->
    
    <jndiEntry id="fhirPersistenceJPAUseUUIDs" jndiName="com.ibm.watsonhealth.fhir.persistence.jpa.useUUIDs" value="true"/>
    
    <jndiEntry id="fhirTruststoreLocation" jndiName="com.ibm.watsonhealth.fhir.server.truststore.location" value="${server.config.dir}/resources/security/fhirKeystore.jks"/>
CODE_REMOVED
    
    
</server>
