<server description="fhir-server">

    <!-- Enable features -->
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <!-- <feature>openidConnectClient-1.0</feature> -->
        <feature>openidConnectServer-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>jsf-2.3</feature>
        <feature>servlet-4.0</feature>
        <feature>websocket-1.1</feature>
    	<feature>jdbc-4.2</feature>
		<feature>jaxb-2.2</feature>
	</featureManager>
    
    <!-- Disable welcome page so that internal server info won't be revealed in responses
	     to requests with an invalid context root.
    -->
	<httpDispatcher enableWelcomePage="false" />

    <!-- FHIR Server's keystore and truststore configuration -->
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" clientAuthenticationSupported="true" />
CODE_REMOVED
CODE_REMOVED
    <webAppSecurity allowFailOverToBasicAuth="true" />
    
    <!-- Define a basic user registry with a few users. -->
    <basicRegistry id="basic" realm="BasicRealm"> 
CODE_REMOVED
CODE_REMOVED
        <group name="FHIRUsers">
            <member name="fhiruser"/>
        </group>
        <group name="clientAdministrator">
        	<member name="fhiruser"/>
        </group>
    </basicRegistry>

<!--    
    <openidConnectProvider id="oidc-provider" oauthProviderRef="oauth2-provider"/> 
    
    <oauth-roles>
        <authenticated>
            <special-subject type="ALL_AUTHENTICATED_USERS"/>  
        </authenticated>
        <clientManager>
			<group name="clientAdministrator" />
			<user name="fhiruser" />
		</clientManager>
    </oauth-roles>
	
	<oauthProvider id="oauth2-provider" oauthOnly="false">
		<grantType>client_credentials</grantType>
		<databaseStore dataSourceRef="OAuthDataSource" />
	</oauthProvider>
-->  
	
	<!-- Enable CORS (Cross Origin Resource Sharing) -->
	<!--  
	<cors allowCredentials="true" allowedMethods="GET, PUT, POST"
		allowedHeaders="Content-Type, Authorization, Accept, Origin"
		allowedOrigins="*" domain="/fhir-server/api/v1" maxAge="3600" />
    -->	
    
	<!-- Uncomment this section to configure a remote Open ID Connect Provider that overrides the oauthProvider configured above. 
		 Update fhir-server-config.json to publish the remote provider OAuth URLs. -->
	<!-- 
	<openidConnectClient authorizationEndpointUrl="https://authorize-dstu2.smarthealthit.org/authorize" 
					clientId="c6c17d9e-8633-440f-a220-4d077acce0d1" 
					clientSecret="{xor}HhQLGx0vBW84aQYmaGgqKWooKW8+JgwtMhBpZmYUHiUOMRkcaxhtajcaPSw3MQw2LzErNzkeMTBvDy9uJwkwJToabw5nHWwNJm8dbR1qNwoLNzQ6Ey0S" 
					id="client01" 
					tokenEndpointUrl="https://authorize-dstu2.smarthealthit.org/token"> 	
	</openidConnectClient> 
	-->
    
    <!-- This entry defines the ports that the server will listen on.
        Modify the port #'s as needed to satisfy your config requirements.
        Note: on Linux, the server must be running with root priviledges in order to
        listen on ports <= 1024.
     -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" onError="FAIL"/>

    <!-- 
        Modify the trace string below as needed to enable/disable tracing. 
        <logging traceSpecification="*=info" traceFormat="BASIC"/>
        <logging traceSpecification="*=info:com.ibm.watsonhealth.fhir.*=finer" traceFormat="BASIC"/>
    -->
    
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <applicationMonitor updateTrigger="mbean"/>   

    <webContainer deferServletLoad="false"/>   

    <!-- This is the main FHIR Server REST API war -->
    <webApplication contextRoot="fhir-server/api/v1" id="fhir-server-webapp" location="fhir-server.war" name="fhir-server-webapp">
        <classloader commonLibraryRef="fhirSharedLib" privateLibraryRef="configResources,fhirUserLib"/>
        <application-bnd>
            <security-role name="FHIRUsers">
                <group name="FHIRUsers"/>
            </security-role>
        </application-bnd>
    </webApplication>

    <!-- This is the swagger UI for the FHIR Server -->
    <webApplication id="fhir-swagger-ui" location="fhir-swagger-ui.war" name="fhir-swagger-ui"/>
    
    <!-- 
        This library element puts a specific directory in the classpath so that it can be used
        for user-provided configuration files (e.g. extension-search-parameters.xml)
    -->
    <library id="configResources">
        <folder dir="${server.config.dir}/config"/>
        <fileset dir="${server.config.dir}/config" includes="*.jar"/>
    </library>
    
    <!-- 
        This sharedlib can contain user-contributed jars that are intended to augment
        the FHIR Server installation (persistence interceptors, persistence layer impl's,
        custom operation impl's, etc.)
     -->
    <library id="fhirUserLib">
        <fileset dir="${server.config.dir}/userlib" includes="*.jar"/>
    </library>
   
    <!-- Definitions related to the JDBC proxy datasource -->
    <library id="fhirSharedLib">
        <fileset dir="${shared.resource.dir}/lib/derby" includes="*.jar"/>
        <fileset dir="${shared.resource.dir}/lib/db2" includes="*.jar"/>
        <fileset dir="${shared.resource.dir}/lib/fhir" includes="*.jar"/>
    </library>
    
    <dataSource id="fhirProxyDataSource" jndiName="jdbc/fhirProxyDataSource"
        type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="fhirSharedLib"
            javax.sql.XADataSource="com.ibm.watsonhealth.fhir.persistence.proxy.FHIRProxyXADataSource" />
        <connectionManager />
    </dataSource>
    
    
    <!-- Derby/Embedded-related configuration
    <library id="derbyLib">
        <fileset dir="${shared.resource.dir}/lib/derby" includes="*.jar"/>
    </library>
    
    <dataSource id="OAuthDataSource" jndiName="jdbc/oAuthConfigDB">
        <jdbcDriver libraryRef="derbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="derby/oauth2db"/>
    </dataSource>
    -->    
     
    <!-- DB2-related configuration
    <library id="db2Lib">
        <fileset dir="${shared.resource.dir}/lib/db2" includes="*.jar"/>
    </library>
    
    <dataSource id="OAuthDataSource" jndiName="jdbc/oAuthConfigDB">
        <jdbcDriver libraryRef="db2Lib"/>
        <properties.db2.jcc 
            serverName="dbserver1.mycompany.com" 
            portNumber="50000" 
            user="db2inst1" 
CODE_REMOVED
            databaseName="OAUTH2DB" 
            currentSchema="OAUTHDBSCHEMA" 
            driverType="4"/>
    </dataSource>
    -->
</server>
