<suite name="JDBCUnitTestsSuite">
    
    <test name="ParameterTests">
        <classes>
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.util.QueryBuilderUtilTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.util.ParameterProcessorTest" />
        </classes>
    </test>
    

    <test name="JDBCNormalizedTests">
        <groups>
            <run>
                <include name="jdbc-normalized"></include>
                <include name="jdbc-seed"></include>
            </run>
        </groups>
        <classes>
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.spec.R4JDBCExamplesTest" />
        </classes>
    </test>
</suite>
        
<!--             
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryAuditEventTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormRedefineDerbyDB" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryChainedParmTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryContractTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryDeviceTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryEncounterTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryGroupTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryImmunizationRecommendationTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryImmunizationTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryLocationTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryMedicationAdministrationTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryMedicationOrderTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryMedicationTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryMultiResourceTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryObservationTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryPatientTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryPractitionerTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryQuestionnaireRespTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryQuestionnaireTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryRelatedPersonTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryRiskAssmtTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQuerySortTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormQueryIncludeTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormSearchAllTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.test.JDBCNormDeleteTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.search.test.JDBCNormSearchDateTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.search.test.JDBCNormSearchNumberTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.search.test.JDBCNormSearchQuantityTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.search.test.JDBCNormSearchReferenceTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.search.test.JDBCNormSearchStringTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.search.test.JDBCNormSearchTokenTest" />
            <class name="com.ibm.watsonhealth.fhir.persistence.jdbc.search.test.JDBCNormSearchURITest" />
 -->
