<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>IBM FHIR Server</display-name>
    <servlet>
        <servlet-name>FHIRRestServlet</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ibm.fhir.server.FHIRApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>FHIRRestServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config>


    <filter>
        <filter-name>FHIRRestFilter</filter-name>
        <filter-class>com.ibm.fhir.server.filter.rest.FHIRRestServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FHIRRestFilter</filter-name>
        <servlet-name>FHIRRestServlet</servlet-name>
    </filter-mapping>

</web-app>
