<suite name="FHIRServerIntegrationTests">

    <test name="ExampleTest">
        <classes>
            <class name="com.ibm.watsonhealth.fhir.server.test.R4ExampleServerTest" />
        </classes>
    </test>
    
    <test name="ServerTests">
        <classes>
            <class name="com.ibm.watsonhealth.fhir.server.test.Base64BinaryTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.BasicServerTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.ServerSpecTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.BundleTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.DeleteTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.UpdateTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.DuplicateResourceIdTest"/>
            <class name="com.ibm.watsonhealth.fhir.server.test.FHIRDocumentOperationTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.FHIRValidateOperationTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.MultiDataStoreTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.SearchTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.SearchAllTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.SearchExtensionsTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.SortingTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.VirtualResourceTest" />
            <class name="com.ibm.watsonhealth.fhir.server.test.WebSocketNotificationsTest" />
            
            <class name="com.ibm.watsonhealth.fhir.client.test.FHIRClientTest" />

            <class name="com.ibm.watsonhealth.fhir.cli.test.FHIRCliTest" />
            
            <!-- requires $validate and $hello operations to be deployed. 
            Include the following jars in the fhir-server userlib dir before running the test:
            * fhir-operation-validate-99-SNAPSHOT.jar
            * fhir-operation-99-SNAPSHOT-tests.jar
            -->
            <!-- <class name="com.ibm.watsonhealth.fhir.server.test.FHIROperationTest" /> -->
        </classes>
    </test>
</suite>
