{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-classes",
            {
                "loose": true
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}