<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FHIRAuditCadfTestSuite">
    <test name="Tests">
        <classes>
            <class name="com.ibm.fhir.audit.cadf.test.AuditBeansTest" />
            <class name="com.ibm.fhir.audit.cadf.test.AuditCadfTest" />
            <class name="com.ibm.fhir.audit.cadf.test.AuditEnumTest" />
            <class name="com.ibm.fhir.audit.cadf.test.AuditLogServiceTest" />
            <class name="com.ibm.fhir.audit.cadf.test.CadfModelTest" />
            
        </classes>
    </test>
    <test name="EnvironmentTests">
        <packages>
            <!-- All of these tests are automatically executed -->
            <package name="com.ibm.fhir.audit.logging.api.environment" />
        </packages>
    </test>
    <test name="MapperTests">
        <packages>
            <!-- All of these tests are automatically executed -->
            <package name="com.ibm.fhir.audit.logging.mapper" />
            <package name="com.ibm.fhir.audit.logging.mapper.impl" />
        </packages>
    </test>
    <test name="ConfigurationTests">
        <packages>
            <!-- All of these tests are automatically executed -->
            <package name="com.ibm.fhir.audit.logging.api.configuration" />
        </packages>
    </test>
</suite>