---
layout: default
title: "TestSearch"
---


<div id="main" role="main">
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <!-- <h1 id="page-title" class="page__title">{{ page.title }}</h1> -->
    {% endunless %}

    {{ content }}

    {%- assign search_provider = site.search_provider | default: "lunr" -%}
    {%- case search_provider -%}
      {%- when "lunr" -%}


        {% include search/search_form.html %}

      {%- when "google" -%}
        <form onsubmit="return executeQuery();" id="cse-search-box-form-id">
        <input type="text" id="cse-search-input-box-id" class="search-input" tabindex="-1" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" />
        </form>
        <div id="results" class="results">
          <gcse:searchresults-only></gcse:searchresults-only>
        </div>
      {%- when "algolia" -%}
        <div class="search-searchbar"></div>
        <div class="search-hits"></div>
    {%- endcase -%}
  </div>
</div>